.borderBottom {
	border-bottom: solid 1px black;
	padding-bottom: 2px;
}

.center, .center td { text-align:center; }
.left, .left td { text-align:left; }
.right, .right td { text-align:right; }
.nowrap { white-space:nowrap; }

.colorGreen { color:green; }
.colorRed { color:#E00000; }

.fontSmall { font-size:85%; }

a:visited.neverVisited {
	color: #333399;  /* match a:visited in wa.edu/home/home.css */
}
a.target::after { content:url('/sisLibrary2/images/icon_external_9x9.gif'); padding-left:3px; vertical-align:super; }

br.half { font-size:50%; }

div.sps_error { padding-left:1.2em; text-indent:-1.2em; }
div.sps_error img { padding:0 2px 5px 0; vertical-align:middle; }
div.sps_error span { color:#e00000; font-weight:bold; }
.validation-error { color:#e00000; }
.validation-error::before { content:url('/sisLibrary2/images/x.gif'); vertical-align:top; vertical-align:-moz-middle-with-baseline; }

input.button { cursor:pointer; }

table.sps_table { border-collapse:collapse; }
table.sps_table th, table.sps_table td { border:1px solid #606060; }
table.sps_table.even_rows tbody tr:nth-child(even) {
	background-color: #f6f6f6;
}

.sps_fixed { /*only in tuition.aspx*/
	font-family: courier new,courier,fixed,monospace;
}

table.infoBox {
	border: 3px solid #ddddff;
	border-collapse: collapse;
	width: 350px;
}
table.infoBox td,
table.infoBox th {
	font-size: 85% !important;
	padding: 3px !important;
}
table.infoBox th {
	background-color: #ddddff;
	white-space: nowrap;
	text-align: center;
}

td.CellError {
	border: 2px solid #ff0000;
}

.indented { margin-left: 40px; }
.cellIndented { padding-left: 40px; }
.radius8 { border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }

.noBorder, .noBorder th, .noBorder td { border:0 !important; }

/* hide from normal browser but not screen reader */
.hidden { position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; }

/* hide X button on jQuery alert modal dialog */
div[aria-labelledby='ui-dialog-title-divAlertDialog'] .ui-dialog-titlebar-close {
    display: none;
}

/* hide X button on timeout modal dialog -- moved from spsStaffView.css */
div[aria-labelledby='ui-dialog-title-divTimeoutDialog'] .ui-dialog-titlebar-close {
    display: none;
}

/* PROCESSING MODAL DIALOG STYLES */
div[aria-labelledby='ui-dialog-title-divProcessingDialog'] div.ui-dialog-titlebar
{
	display: none;
}